<div class="container panel-ppal">
    <div class="jumbotron">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#" class="btn btn-default" role="button" routerLink="cliente">Cliente CRUD</a>
                <a href="#" class="btn btn-default" role="button" routerLink="asesor">Asesor CRUD</a>
                <a href="#" class="btn btn-default" role="button" routerLink="tarjeta">Tarjeta CRUD</a>
                <a href="#" class="btn btn-default" role="button" routerLink="consumo">Consumo CRUD</a>
                <a href="#" class="btn btn-default" role="button" routerLink="clientes">Ver clientes</a>
                <a href="#" class="btn btn-default" role="button" routerLink="asesores">Ver asesores</a>
            </div>
            <div class="panel-body">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>